[workspace]
members = [
  # Packages
  "packages/shade_protocol",
  "packages/secretcli",
  "packages/contract_harness",
  "packages/multi_test",
  "packages/multi_derive",

  # Network setups
  "contracts/airdrop",

  # Protocol contracts
  "contracts/snip20",
  "contracts/governance",
  "contracts/bonds",
  "contracts/mint",
  "contracts/mint_router",
  "contracts/oracle",
  "contracts/sky",
  "contracts/query_auth",

  # DAO
  # - Core
  "contracts/treasury",
  "contracts/treasury_manager",
  # - Adapters
  "contracts/scrt_staking",
  "contracts/rewards_emission",
  #"contracts/lp_shade_swap",

  "contracts/snip20_staking",
  
  # Mock contracts
  "contracts/mock_band",
  "contracts/mock_secretswap_pair",
  "contracts/mock_sienna_pair",
  "contracts/mock_adapter",

  # Tools
  "tools/doc2book",

  #"packages/network_integration"
]

exclude = ["packages/network_integration"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
