[workspace]
members = [
  # Packages
  "packages/cosmwasm_math_compat",
  "packages/shade_protocol",
  "packages/contract_harness",

  # Network setups
  "contracts/airdrop",

  # Protocol contracts
  "contracts/snip20",
  "contracts/governance",
  "contracts/bonds",
  "contracts/oracle",
  "contracts/sky",
  "contracts/query_auth",

  "contracts/snip20-reference-impl",

  # DAO
  # - Core

  # - Adapters
  "contracts/scrt_staking",
  "contracts/rewards_emission",
  "contracts/lp_shade_swap",

  "contracts/snip20_staking",
  
  # Mock contracts
  "contracts/mock_band",
  "contracts/mock_secretswap_pair",
  "contracts/mock_sienna_pair",

  # Tools
  "tools/doc2book",

  #"packages/network_integration"
]

exclude = [
  "packages/network_integration",
    "contracts/mint",
  "contracts/mint_router",
    "contracts/treasury",
  "contracts/treasury_manager",
  ]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
