[workspace]
members = [
  # Packages
  "packages/cosmwasm_math_compat",
  "packages/shade_protocol",
  "packages/secretcli",
  "packages/contract_harness",

  # Network setups
  "contracts/airdrop",

  # Protocol contracts
  "contracts/snip20",
  "contracts/governance",
  "contracts/mint",
  "contracts/mint_router",
  "contracts/oracle",
  "contracts/snip20-reference-impl",
  "contracts/sky",

  # DAO
  # - Core
  "contracts/treasury",
  "contracts/treasury_manager",
  # - Adapters
  "contracts/scrt_staking",
  "contracts/rewards_emission",

  "contracts/snip20_staking",

  # Mock contracts
  "contracts/mock_band",
  "contracts/mock_secretswap_pair",
  "contracts/mock_sienna_pair",

  # Tools
  "tools/doc2book",
]

exclude = ["packages/network_integration"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
