[package]
name = "shade-multi-test"
version = "0.1.0"
authors = [
   "hoomp <flammable.shower939@anonaddy.me>"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
admin = ["dep:admin", "shade-protocol/admin"]
snip20 = ["dep:snip20"]
#liability_mint = ["dep:liability_mint"]
#mint = ["dep:mint"]
#oracle = ["dep:oracle"]
#mock_band= ["dep:mock_band"]
governance = ["dep:governance"]
snip20_staking = ["dep:spip_stkd_0"]
# bonds = ["dep:bonds"]
treasury = ["dep:treasury", "admin"]
treasury_manager = ["dep:treasury_manager", "admin", "treasury", "mock_adapter", "snip20"]
mock_adapter = ["dep:mock_adapter"]
dao = ["mock_adapter", "treasury", "treasury_manager", "snip20"]
query_auth = ["dep:query_auth"]
# shade-oracles = ["dep:shade-oracles"]
peg_stability = ["dep:peg_stability"]

[dependencies]
snip20 = { version = "0.1.0", path = "../../contracts/snip20", optional = true }
#liability_mint = { version = "0.1.0", path = "../../contracts/liability_mint", optional = true }
#mint = { version = "0.1.0", path = "../../contracts/mint", optional = true }
#oracle = { version = "0.1.0", path = "../../contracts/oracle", optional = true }
#mock_band = { version = "0.1.0", path = "../../contracts/mock_band", optional = true }
governance = { version = "0.1.0", path = "../../contracts/governance", optional = true }
spip_stkd_0 = { version = "0.1.0", path = "../../contracts/snip20_staking", optional = true }
# bonds = { version = "0.1.0", path = "../../contracts/bonds", optional = true }
query_auth = { version = "0.1.0", path = "../../contracts/query_auth", optional = true }
scrt_staking = { version = "0.1.0", path = "../../contracts/dao/scrt_staking", optional = true }
treasury = { version = "0.1.0", path = "../../contracts/dao/treasury", optional = true }
treasury_manager = { version = "0.1.0", path = "../../contracts/dao/treasury_manager", optional = true }
mock_adapter = { version = "0.1.0", path = "../../mock_contracts/mock_adapter", optional = true }
# shade-oracles = { git = "https://github.com/securesecrets/shade-oracle.git", tag = "0.11", optional = true }
admin = { version = "0.2.0", path = "../../contracts/admin", optional = true }
peg_stability = { version = "0.1.0", path = "../../contracts/peg_stability", optional = true }
shade-protocol = { path = "../shade_protocol", features = ["multi-test"] }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
shade-admin-multi-test = { git = "https://github.com/securesecrets/shadeadmin.git", optional = true }
shade-protocol = { path = "../shade_protocol", features = ["multi-test"] }
multi-derive = { path = "../multi_derive" }
