[package]
name = "shade-multi-test"
version = "0.1.0"
authors = [
   "hoomp <flammable.shower939@anonaddy.me>"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
airdrop = ["dep:airdrop"]
admin = ["dep:admin", "shade-protocol/admin"]
snip20 = ["dep:snip20"]
liability_mint = ["dep:liability_mint"]
#mint = ["dep:mint"]
#oracle = ["dep:oracle"]
#mock_band= ["dep:mock_band"]
governance = ["dep:governance"]
# snip20_staking = ["dep:spip_stkd_0"]
# scrt_staking = ["dep:scrt_staking"]
# bonds = ["dep:bonds"]
 query_auth = ["dep:query_auth"]
scrt_staking = ["dep:scrt_staking"]
treasury = ["dep:treasury"]
treasury_manager = ["dep:treasury_manager"]
peg_stability = ["dep:peg_stability"]
sky_derivatives = ["dep:sky_derivatives"]
mock_sienna_pair = ["dep:mock_sienna_pair"]

[dependencies]
airdrop = { path = "../../contracts/airdrop", optional = true }
snip20 = { version = "0.1.0", path = "../../contracts/snip20", optional = true }
liability_mint = { version = "0.1.0", path = "../../contracts/liability_mint", optional = true }
#mock_band = { version = "0.1.0", path = "../../contracts/mock_band", optional = true }
governance = { version = "0.1.0", path = "../../contracts/governance", optional = true }
# spip_stkd_0 = { version = "0.1.0", path = "../../contracts/snip20_staking", optional = true }
# bonds = { version = "0.1.0", path = "../../contracts/bonds", optional = true }
query_auth = { version = "0.1.0", path = "../../contracts/query_auth", optional = true }
scrt_staking = { version = "0.1.0", path = "../../contracts/dao/scrt_staking", optional = true }
treasury = { version = "0.1.0", path = "../../contracts/dao/treasury", optional = true }
treasury_manager = { version = "0.1.0", path = "../../contracts/dao/treasury_manager", optional = true }
admin = { version = "0.2.0", path = "../../contracts/admin", optional = true }
peg_stability = { version = "0.1.0", path = "../../contracts/peg_stability", optional = true }
sky_derivatives = { version = "0.1.0", path = "../../contracts/sky_derivatives", optional = true }
mock_sienna_pair = { version = "0.1.0", path = "../../contracts/mock/mock_sienna_pair", optional = true }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
shade-protocol = { path = "../shade_protocol", features = ["multi-test"] }
multi-derive = { path = "../multi_derive" }
