[package]
name = "lb_token"
version = "0.1.0"
authors = ["DDT5","itsHaseebSaeed"]
edition = "2021"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
default = []
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
#snafu = { version = "0.6.3" }
serde = { version = "1.0.158", default-features = false, features = ["derive"] }
schemars = "0.8.12"
cosmwasm-std = { package = "secret-cosmwasm-std", version = "1.1.10" }
cosmwasm-storage = { package = "secret-cosmwasm-storage", version = "1.1.10"  , features=["iterator"]}
# TODO - (possibly) change from secret-toolkit storage, etc to shade's version?
secret-toolkit = { version = "0.10.0", default-features = false, features = [
  "storage", "viewing-key", "permit", "serialization", 
  #"crypto", "utils", 
] }
shade-protocol = { version = "0.1.0", path = "../../../packages/shade_protocol", features = [
  "liquidity_book","lb-libraries", "snip20"
] }

#base64 = "0.21.2"
#rand = { version = "0.8.5", default-features = false }
#getrandom = { version = "0.2.10", features = ["js"] }  # nope

[dev-dependencies]
cosmwasm-schema = "1.1.8"
serde_json = "1.0.8"
secret-toolkit = { version = "0.10.0", default-features = false, features = ["crypto"] }
