[package]
name = "contract_harness"
version = "0.1.0"
authors = [
    "Guy Garcia <guysebastiangarcia@gmail.com>",
    "Kyle Wahlberg <kyle.s.wahlberg@gmail.com>",
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
mint = ["dep:mint"]
oracle = ["dep:oracle"]
mock_band= ["dep:mock_band"]
governance = ["dep:governance"]
snip20_staking = ["dep:spip_stkd_0"]
scrt_staking = ["dep:scrt_staking"]
snip20 = ["dep:snip20"]
bonds = ["dep:bonds"]
query_auth = ["dep:query_auth"]
admin = ["dep:admin"]
snip20_reference_impl = ["dep:snip20-reference-impl"]
treasury = ["dep:treasury"]
treasury_manager = ["dep:treasury_manager"]
shade-oracles = ["dep:shade-oracles"]
shade-oracles-ensemble = ["dep:shade-oracles-ensemble"]

[dependencies]
cosmwasm-std = { version = "0.10", package = "secret-cosmwasm-std" }
fadroma = { branch = "v100", commit = 76867e0, git = "https://github.com/hackbg/fadroma.git", features = [
  "ensemble",
] }
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
mint = { version = "0.1.0", path = "../../contracts/mint", optional = true }
oracle = { version = "0.1.0", path = "../../contracts/oracle", optional = true }
mock_band = { version = "0.1.0", path = "../../contracts/mock_band", optional = true }
governance = { version = "0.1.0", path = "../../contracts/governance", optional = true }
spip_stkd_0 = { version = "0.1.0", path = "../../contracts/snip20_staking", optional = true }
snip20 = { version = "0.1.0", path = "../../contracts/snip20", optional = true }
bonds = { version = "0.1.0", path = "../../contracts/bonds", optional = true }
query_auth = { version = "0.1.0", path = "../../contracts/query_auth", optional = true }
scrt_staking = { version = "0.1.0", path = "../../contracts/scrt_staking", optional = true }
snip20-reference-impl = { version = "0.1.0", path = "../../contracts/snip20-reference-impl", optional = true }
treasury = { version = "0.1.0", path = "../../contracts/treasury", optional = true }
treasury_manager = { version = "0.1.0", path = "../../contracts/treasury_manager", optional = true }
shade-oracles = { git = "https://github.com/securesecrets/shade-oracle.git", tag = "0.11", optional = true }
shade-oracles-ensemble = { git = "https://github.com/securesecrets/shade-oracle.git", tag = "0.11", optional = true }
admin = { git = "https://github.com/securesecrets/shadeadmin", tag = "v1.0", optional = true }