[package]
name = "shade-protocol"
version = "0.1.0"
authors = [
  "Guy Garcia <guysebastiangarcia@gmail.com>",
  "Jackson Swenson <jacksonswenson22@gmail.com>",
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["utils"]

# Templates
dex = ["utils", "math", "snip20", "mint", "secretswap", "sienna", "band"]
band = []
secretswap = ["utils"]
sienna = ["utils", "math"]

# Utils
utils = []
errors = []
flexible_msg = []
math = []
storage = ["cosmwasm-storage/iterator"]
storage_plus = ["storage", "dep:secret-storage-plus"]

# Protocol contracts
airdrop = ["utils", "errors", "dep:remain", "dep:query-authentication"]
governance = ["utils", "flexible_msg"]
mint = ["utils", "snip20"]
mint_router = ["utils", "snip20"]
oracle = ["snip20"]
scrt_staking= ["utils", "adapter", "treasury"]
treasury = ["utils", "adapter", "snip20"]
treasury_manager = ["adapter"]
rewards_emission = ["adapter"]
adapter = []
snip20 = ["utils", "errors", "dep:base64", "dep:query-authentication"]
snip20_staking = ["utils"]
sky = ["snip20", "utils", "sienna"]

# Protocol Implementation Contracts
# Used in internal smart contracts
governance-impl = ["governance", "storage"]
snip20-impl = ["snip20", "storage_plus"]
sky-impl = ["sky", "storage_plus"]

# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
debug-print = ["cosmwasm-std/debug-print"]

[dependencies]
cosmwasm-std = { version = "0.10", package = "secret-cosmwasm-std" }
cosmwasm-storage = { version = "0.10", package = "secret-cosmwasm-storage" }
cosmwasm-math-compat = { path = "../cosmwasm_math_compat" }
cosmwasm-schema = "0.10.1"
secret-toolkit = { version = "0.2" }
schemars = "0.7"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
snafu = { version = "0.6.3" }
# TODO: fix import
chrono = "0.4.19"
base64 = { version = "0.12.3", optional = true }
# Needed for transactions
query-authentication = { git = "https://github.com/securesecrets/query-authentication", tag = "v1.2.0", optional = true }
# Used by airdrop
remain = { version = "0.2.2", optional = true }
# storage plus implementation
secret-storage-plus = { git = "https://github.com/securesecrets/secret-storage-plus", tag = "v1.0.0", optional = true }

