[package]
name = "network-integration"
version = "0.1.0"
authors = ["Guy Garcia <guysebastiangarcia@gmail.com>"]
edition = "2018"

[[bin]]
name = "launch_shade"
path = "src/launch/shade.rs"

[[bin]]
name = "launch_airdrop"
path = "src/launch/airdrop.rs"

[[bin]]
name = "testnet_staking"
path = "src/testnet_staking.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []

[dependencies]
colored = "2.0.0"
chrono = "0.4.19"
shade-protocol = { version = "0.1.0", path = "../shade_protocol", features = [
  "dex",
  "airdrop",
  "bonds",
  "governance",
  "governance-impl",
  "mint",
  "mint_router",
  "oracle",
  "scrt_staking",
  "snip20_staking",
  "treasury",
] }
mock_band = { version = "0.1.0", path = "../../contracts/mock_band" }
secretcli = { version = "0.1.0", path = "../secretcli" }
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.67" }
getrandom = { version = "0.2", features = [
  "js",
] } # Prevents wasm from freaking out when running make
rand = { version = "0.8.4" }
cosmwasm-std = { version = "0.10", package = "secret-cosmwasm-std" }
rs_merkle = { git = "https://github.com/FloppyDisck/rs-merkle", branch = "node_export" }
query-authentication = { git = "https://github.com/securesecrets/query-authentication", tag = "v1.3.0" }
